<style>	
	.shane-affiliate-title{
		background-color: #006DE5;
		min-height: 40vw;
		color: #fff;
		position: relative;
	}
	.shane-affiliate-title h1{
		margin: 0; font-size: 8vw; line-height: 8vw; text-transform: uppercase; position: absolute; width:60%; left: 20%; top: 30%;
	}
	.shane-affiliate-title h1 span{
		display: block;
	}
	.shane-affiliate-title h1 span:last-child{
		margin-left: 17vw;
	}
	.shane-affiliate-title>div{
		font-size: 2vw; position: absolute; left: 42%; top: 72%; font-family: Outfit-Light;
	}
	.b1-img1{
		width: 15.6vw; position: absolute; left: 20%; top: 50%;
	}
	.b1-img2{
		width: 33px; position: absolute; left: 15%; top: 30%;
	}
	.b1-img3{
		width: 46px; position: absolute; left: 16%; top: 65%;
	}
	.b1-img4{
		width: 31px; position: absolute; right: 13%; top: 33%;
	}
	.shane-affiliate-title>svg{
		position: absolute; left: 35%; top: 36%; transform-origin: 50% 50%; transform: rotate(-25deg);
	}
@media (max-width: 768px){
	.shane-affiliate-title{
		min-height: 80vw;
	}
	.shane-affiliate-title h1{
		font-size: 12vw; line-height: 11vw; width:84%; left: 8%; top: 35%;
	}
	.shane-affiliate-title h1 span:last-child{
		margin-left: 24vw;
	}
	.shane-affiliate-title>div{
		font-size: 2.8vw; left: 32%; top: 65%;
	}
	.b1-img1{
		width: 20vw; left: 8%;
	}
	.b1-img2{
		width: 20px; left: 2%; top: 35%;
	}
	.b1-img3{
		width: 25px; left: 5%; top: 60%;
	}
	.b1-img4{
		width: 20px; right: 4%; top: 33%;
	}
	.shane-affiliate-title>svg{
		position: absolute; left: 35%; top: 37%; transform-origin: 50% 50%; transform: rotate(-25deg);
	}
}
</style>
	<h1><span>Affiliate</span> <span>Program</span></h1>
	<div>Enjoy up to 6% commission on every validated sale.</div>
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/aff-title-01.png?v=1711007268" class="b1-img1">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img2">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img3">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img4">
	<svg width="50vw" height="20vw" viewBox="0 0 40vw 30vw">  
	  <ellipse cx="50%" cy="50%" rx="45%" ry="30%" stroke="#ffffff" stroke-width="1px" fill="none"/>  
	</svg> 
	
{% schema %}
  {
    "name": "Affiliate title",
    "class": "shane-affiliate-title",
    "settings": [
    ],
    "presets": [
       {
        "name": "Affiliate title"
          
       }
    ]
  }
{% endschema %}