<style>	
	.shane-press-releases{
		background-color: #006DE5;
		min-height: 40vw;
		color: #fff;
		position: relative;
	}
	.shane-press-releases h1{
		margin: 0; font-size: calc(100vw* 120/ 1920); line-height: calc(100vw* 110/ 1920); text-transform: uppercase; position: absolute; width:calc(100vw* 724/ 1920); left: calc(100vw* 748/ 1920); top: calc(100vw* 202/ 1920);
	}
	.shane-press-releases h1 span{
		display: block;
	}
	.shane-press-releases h1 span:last-child{
		/* margin-left: 17vw; */
	}
	.shane-press-releases>div{
		width:calc(100vw* 598 / 1920); font-size: calc(100vw* 18/ 1920); position: absolute; left: calc(100vw* 748/ 1920); top: calc(100vw* 432/ 1920); font-family: Outfit-Light;
	}
	.b1-img1{
		width: calc(100vw* 232.138/ 1920);height: calc(100vw* 290.138/ 1920);position: absolute; left: calc(100vw* 460 / 1920); top: calc(100vw* 220/ 1920);
	}
	.b1-img2{
		width: calc(100vw* 33 / 1920); position: absolute; left: 21%; top: 42%;animation: moveabout1 1s ease-in-out infinite;
	}
	.b1-img3{
		width: calc(100vw* 46 / 1920); position: absolute; left: 35%; top: 22%; animation: moveabout2 1s ease-in-out infinite;
	}
	.b1-img4{
		width: calc(100vw* 38 / 1920); position: absolute; right: 24.6%; top: 53%; animation: moveabout3 1s ease-in-out infinite;
	}
	/* .shane-press-releases>svg{
		position: absolute; left: 35%; top: calc(100vw* 160/ 1920); transform-origin: 50% 50%; transform: rotate(-25deg);
	} */
    .shane-press-releases #line{
		width: 40vw; height: 12vw; position:absolute;transform: rotate(144deg); right: calc(100vw* 366/ 1920); top: calc(100vw* 240/ 1920);
	}
    .shane-press-releases #line1{
		width: calc(100vw* 88/ 1920); height: calc(100vw* 16/ 1920);  position:absolute;left: calc(100vw* 346/ 1920); top: calc(100vw* 460/ 1920);
	}
    .shane-press-releases #line2{
		width: calc(100vw* 88/ 1920); height: calc(100vw* 16/ 1920); position:absolute; right: calc(100vw* 666/ 1920); top: calc(100vw* 258/ 1920);
	}
    .shane-press-releases .svg-line1{
		stroke-width: 1px;
		stroke: #ffffff;
		fill:none;
		stroke-dasharray: 1600;
		stroke-dashoffset: 1600;
		animation: svgmove01 2s infinite;
        
	}
    @keyframes svgmove01 {
		to {
			stroke-dashoffset: 0;
		}
	}
    @keyframes moveabout1 {
		0% {
			top: 42%;
		}
		50% {
			top: 41%;
		}
		100% {
			top: 42%;
		}
	}
	@keyframes moveabout2 {
		0% {
			top: 22%;
		}
		50% {
			top: 21%;
		}
		100% {
			top: 22%;
		}
	}
	@keyframes moveabout3 {
		0% {
			top:53%;
		}
		50% {
			top: 51%;
		}
		100% {
			top: 53%;
		}
	}
	.shane-press-releases>div>a{
		color: #FFF;
		font-family: Outfit;
		font-size: calc(100vw* 18/ 1920);
		font-style: normal;
		font-weight: 700;
		line-height: calc(100vw* 22/ 1920);
		text-decoration-line: underline;
	}

@media (max-width: 768px){
	.shane-press-releases>div>a{

		font-size: calc(100vw* 18/ 430);
		line-height: calc(100vw* 22/ 430);
	}
	.shane-press-releases{
		min-height: 80vw;
	}
	.shane-press-releases h1{
        width: calc(100vw* 260 / 430);
        font-size: calc(100vw* 50/ 430);
        line-height: calc(100vw* 40/ 430);
        text-transform: uppercase;
        position: absolute;
        left: calc(100vw* 148 / 430);
        top: calc(100vw* 102 / 430);
	}
	.shane-press-releases h1 span:last-child{
		/* margin-left: 24vw;    */
	}
	.shane-press-releases>div{
        width: calc(100vw* 258 / 430);
        font-size: calc(100vw*11/ 430);
        position: absolute;
        left: calc(100vw* 150 / 430);
        top: calc(100vw* 189 / 430);
        font-family: Outfit-Light;
	}
	.b1-img1{
        width: calc(100vw* 110 / 430);
        height: calc(100vw* 110 / 430);
        position: absolute;
        left: calc(100vw* 25 / 430);
        top: calc(100vw* 110 / 430);
    
	}
	.b1-img2{
		width: 20px; left: 2%; top: 35%;
	}
	.b1-img3{
		width: 25px; left: 5%; top: 60%;
	}
	.b1-img4{
		width: 20px; right: 4%; top: 33%;
	}
	.shane-press-releases>svg{
		/* position: absolute; left: 35%; top: 37%; transform-origin: 50% 50%; transform: rotate(-25deg); */
	}
    .shane-press-releases #line{
        width: 60vw;
        height: 15vw;
        position: absolute;
        transform: rotate(144deg);
        right: calc(100vw* 12 / 430);
        top: calc(100vw* 120 / 430);
    }
    .shane-press-releases #line1{
        width: calc(100vw* 58 / 430);
    height: calc(100vw* 16 / 430);
    position: absolute;
    left: calc(100vw* 30 / 430);
    top: calc(100vw* 260 / 430);
    }
    .shane-press-releases #line2 {
    width: calc(100vw* 58 / 430);
    height: calc(100vw* 16 / 430);
    position: absolute;
    right: calc(100vw* 16 / 430);
    top: calc(100vw* 40 / 430);
}
}

</style>
	<h1><span>Press</span> <span>Releases</span></h1>
	<div>Stay Updated with the Latest Headlines and Press Releases about Blokees
		For more information, contact our press team at <a target="_blank"  href="mailto:press@blokees.com">press@blokees.com</a>.</div>
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/img_v3_02cf_83d5daf6-ade4-4e5b-af63-d7921459cf1g.png?v=1720084124" class="b1-img1">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img2">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img3">
	<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/star-icon03.png?v=1706175325" class="b1-img4">
	<svg id="line" version="1.1" xmlns="http://www.w3.org/2000/svg">
			<ellipse ry="5.5vw" rx="19vw" cy="50%" cx="50%" class="svg-line1 pc_show" />
			<ellipse ry="7vw" rx="28vw" cy="50%" cx="50%" class="svg-line1 mobile_show" />
	</svg>
    <svg id="line1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 16" fill="none">
        <path d="M8 8H0V16H8V8Z" fill="#fff"/>
        <path d="M40 8H32V16H40V8Z" fill="#fff"/>
        <path d="M72 8H64V16H72V8Z" fill="#fff"/>
        <path d="M24 8H16V16H24V8Z" fill="#fff"/>
        <path d="M56 8H48V16H56V8Z" fill="#fff"/>
        <path d="M88 8H80V16H88V8Z" fill="#fff"/>
        <path d="M16 0H8V8H16V0Z" fill="#fff"/>
        <path d="M48 0H40V8H48V0Z" fill="#fff"/>
        <path d="M80 0H72V8H80V0Z" fill="#fff"/>
        <path d="M32 0H24V8H32V0Z" fill="#fff"/>
        <path d="M64 0H56V8H64V0Z" fill="#fff"/>
    </svg>
    <svg id="line2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 88 16" fill="none">
        <path d="M8 8H0V16H8V8Z" fill="#fff"/>
        <path d="M40 8H32V16H40V8Z" fill="#fff"/>
        <path d="M72 8H64V16H72V8Z" fill="#fff"/>
        <path d="M24 8H16V16H24V8Z" fill="#fff"/>
        <path d="M56 8H48V16H56V8Z" fill="#fff"/>
        <path d="M88 8H80V16H88V8Z" fill="#fff"/>
        <path d="M16 0H8V8H16V0Z" fill="#fff"/>
        <path d="M48 0H40V8H48V0Z" fill="#fff"/>
        <path d="M80 0H72V8H80V0Z" fill="#fff"/>
        <path d="M32 0H24V8H32V0Z" fill="#fff"/>
        <path d="M64 0H56V8H64V0Z" fill="#fff"/>
    </svg>
{% schema %}
  {
    "name": "Press Releases",
    "class": "shane-press-releases",
    "settings": [
    ],
    "presets": [
       {
        "name": "Press Releases"
          
       }
    ]
  }
{% endschema %}