<style>	
	.shane-contact{
		width: 100%; color:#fff; background-color: #1A1A1A; height: 70vw;
	}
	.shane-contact a{
		color: #FF5F00;
	}
	.shane-contact>div{
		 position: relative; width: 100%; height: 100%;
	}
	.shane-contact>div>div{
		position: absolute;
	}
	.contact-img{
		position: absolute; width: 45.5vw; top: 5.8vw; right: 6vw;
	}
	.contact-text-a1{
		z-index: 2; font-family: Outfit-Bold; font-size: 10vw; top: 7vw; left: 3%; color: #FF5F00; width: 70vw; line-height: 10vw;
	}
	.contact-text-a1-1{
		z-index: 2; font-family: Outfit-Bold; font-size: 10vw; top: 16vw; left: 3%; color: #FF5F00; width: 70vw; line-height: 9.4vw;
	}
	.contact-text-a2{
		z-index: 2; font-family: Outfit-Bold; font-size: 10vw; top: 7vw; right: 3%; line-height: 9.4vw;
	}
	.contact-text-a3{
		z-index: 2; font-family: Outfit-Bold; top: 29vw; left: 3%; font-size: 1.8vw; width: 44vw; line-height: 2.2vw;
	}
	.contact-text-a4{
		z-index: 2; font-family: Outfit-Bold; top: 36vw; left: 3%; font-size: 1.8vw; width: 20vw; color: #FF5F00; line-height: 2.4vw;
	}
	.contact-text-a5{
		z-index: 2; font-family: Outfit-Bold; top: 36vw; left: 26%; font-size: 1.8vw; width: 30vw; color: #FF5F00; line-height: 2.4vw;
	}
	.shane-contact .stitle{
		display: flex; justify-content: flex-start; align-items: center; font-size: 1vw; font-family: Outfit-Regular; margin-bottom: 1vw;
	}
	.shane-contact .stitle span{
		display: block; margin-right: 1vw; font-size: 0.8vw;
	}
	.shane-contact .stext{
		font-size: 1.1vw; line-height: 1.4vw;
	}
	.contact-text-a6{
		z-index: 2; font-family: Outfit-Bold; bottom: 1vw; left: 3%; font-size: 5.2vw; width: 47vw; line-height: 5.2vw;
	}
	.contact-text-a7{
		z-index: 2; bottom: 1vw; right: 3%; font-size: 1vw; width: 42vw; line-height: 1.4vw; border-top: 1px solid #8C8C8C; color: #FF5F00; padding-top: 1.5vw;
	}
@media (max-width: 768px){
	.shane-contact{
		width: 100%; color:#fff; background-color: #1A1A1A; height: 190vw;
	}
	.contact-img{
		width: 60vw; right: 4vw; top:20vw;
	}
	.contact-text-a1{
		font-size: 16vw; line-height: 16vw; top: 25vw; width: 90%;
	}
	.contact-text-a1-1{
		font-size: 16vw; top: 41vw; width: 90vw;
	}
	.contact-text-a2{
		font-size: 16vw; top: 41vw; left: 3%; right: auto;
	}
	.contact-text-a3{
		top: 80vw; font-size: 4vw; width: 96%; line-height: 5vw;
	}
	.contact-text-a4{
		top: 90vw; font-size: 4.2vw; width: 50vw; line-height: 4.6vw;
	}
	.contact-text-a5{
		top: 102vw; left: 3%; font-size: 4.2vw; width: 60vw; line-height: 4.6vw;
	}
	.shane-contact .stitle{
		font-size: 2.6vw; margin-bottom: 0;
	}
	.shane-contact .stitle span{
		display: block; margin-right: 1vw; font-size: 1.8vw;
	}
	.shane-contact .stext{
		font-size: 3vw; line-height: 3.4vw;
	}
	.contact-text-a6{
		bottom: auto; top: 125vw; font-size: 10vw; width: 94%; text-transform: capitalize; line-height: 12vw;
	}
	.contact-text-a7{
		bottom: 15vw; font-size: 3.4vw; width: 94%; line-height: 4vw; border-top: 1px solid #8C8C8C; color: #FF5F00; padding-top: 5vw;
	}
}
</style>
<section class="shane-contact">
	<div>
		<img src="https://cdn.shopify.com/s/files/1/0679/6538/6990/files/contact01.png?v=1706176900" class="contact-img" alt="Blokees Contact for Transformer Toys">
		<div class="contact-text-a1">CONTACT US</div>
		<div class="contact-text-a3">Explore The Fun of Building</div>
		<div class="contact-text-a4">
			<div class="stitle"><span class="fa fa-circle"></span> Get in touch</div>
			<div><a href="mailto:service@blokees.com" target="_blank">service@blokees.com</a></div>
		</div>
		<div class="contact-text-a5">
			<div class="stitle"><span class="fa fa-circle"></span> Visit us</div>
			<div>177 E Colorado Blvd Ste 200<br>Pasadena, CA 91105 US</div>
		</div>
		<div class="contact-text-a6">
			Explore The Fun of Building With Us
		</div>
		<div class="contact-text-a7">
			Start your building adventure with blokees and unleash your creativity. Join us in a journey of fun and innovation, creating memorable experiences with every block. Leave us a message, and a blokees team member will connect with you soon.
		</div>
	</div>	
</section>
<script>
// 获取URL参数的函数
		function getShaneContactUrlParameter(name) {
			name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
			var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
			var results = regex.exec(location.search);
			return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
		}

		// 页面加载时执行的函数
		document.addEventListener("DOMContentLoaded", function(event) {
			var email = getShaneContactUrlParameter('email'); // 获取名为 'email' 的参数值

			// 填充输入框
			var emailInput = document.getElementById('ContactFormEmail'); // 假设输入框的id是 'email-input'
			if (emailInput) {
				emailInput.value = email; // 将邮箱填充到输入框中
			}
		});
</script>


{% schema %}
  {
    "name": "Shane Contact",
    "settings": [],
    "presets": [
       {
        "name": "Shane Contact"          
       }
    ]
  }
{% endschema %}